.side-wrap {
	width: 96px;
	background-color: #157fcc;
	float: left;
	top: 0;
	bottom:0px;
	z-index: 10010;
	position: fixed;
}

.main_logo {
	width: 96px;
	height: 30px;
	margin-top: 15px
}

.main_logo a {
	display: block;
	overflow: hidden;
	text-align: center
}

.main_logo a img {
	width: 85px;
	border: 0
}

.r-wrap {
	margin-left: 96px;
	max-width: 1404px
}

.try-box {
	line-height: 30px;
	border: 1px solid #ffdcb7;
	padding: 0 10px 0 30px;
	background: #ffeab5;
	height: 30px;
	overflow: hidden
}

.try-box #holder {
	max-width: 1394px;
	color: #aa7600;
	overflow: hidden
}

.try-box #holder ul {
	float: left
}

.try-box #holder a {
	color: #aa7600
}

.try-box .ui-icon-notice-close {
	float: left;
	margin-top: 8px;
	margin-right: 10px;
	cursor: pointer
}

#subLogo {
	float: left;
	height: 40px;
	margin-top: 10px;
	margin-right: 10px
}

.main-wrap {
	padding: 20px 0 20px 30px;
	min-width: 840px
}

.main-t {
	background-color: #FFF;
	padding: 20px 20px 80px;
	min-height: 450px;
	overflow: hidden
}

.grid-wrap {
	min-width: 900x;
	max-width: 1364px
}

.side-menu {
	margin-top: 0px
}

.side-menu li {
	position: relative;
	display: block;
}

.side-menu .new-con-p span.ui-new-func {
	right: 20px
}

.side-menu>ul>li {
	height: 85px
}

.side-menu>ul>li>a {
	background: url(../images/menu.png) no-repeat;
	display: block;
	text-align: center;
	padding-top: 53px;
	font-size: 14px;
	color: #fff;
	text-decoration: none;
    cursor: pointer;
	position: relative
}

.side-menu>ul>li>a:hover {
	text-decoration: none
}

.side-menu>ul>li.current side-munu-a {
	color: #fff
}

.side-menu>ul>li.current {
	background: url(../images/menu.png) -104px -30px no-repeat #06adc5
}


.side-menu>ul>li>a.order {
	background-position: 34px 15px
}

.side-menu>ul>li>a.customer {
	background-position: 33px -77px
}

.side-menu>ul>li>a.product {
	background-position: 33px -165px
}

.side-menu>ul>li>a.promotion {
	background-position: 34px -257px
}

.side-menu>ul>li>a.message {
	background-position: 34px -343px
}

.side-menu>ul>li>a.report {
	background-position: 34px -435px
}

.side-menu>ul>li>a.pay {
	background-position: 33px -506px
}

@media screen and (max-height:550px) {
	.side-menu>ul>li>a {
		padding-top: 47px
	}
	.side-menu>ul>li {
		height: 72px
	}
	.side-menu>ul>li.current {
		background-position: -104px -36px
	}
	.side-menu>ul>li>a.order {
		background-position: 34px 10px
	}
	.side-menu>ul>li>a.customer {
		background-position: 33px -82px
	}
	.side-menu>ul>li>a.product {
		background-position: 33px -170px
	}
	.side-menu>ul>li>a.promotion {
		background-position: 34px -262px
	}
	.side-menu>ul>li>a.message {
		background-position: 34px -349px
	}
	.side-menu>ul>li>a.report {
		background-position: 34px -438px
	}
	.side-menu>ul>li>a.pay {
		background-position: 33px -511px
	}
	.side-menu {
		margin-top: 40px
	}
}

.side-menu .float-menu {
	position: absolute;
	left: -1200px;
	display: block;
	background-color: #3892d3;
	border-left: none;
	opacity: 0;
	filter: alpha(opacity = 0);
	padding: 15px 0;
	color: #fff;
	transition: opacity .5s
}

.map,.search-box {
	position: relative
}

.side-menu>ul>li:hover {
	background: -104px -30px no-repeat #3892d3
}


.side-menu .float-menu.showMenu {
	left: 100%;
	display: block;
	opacity: 1;
	filter: alpha(opacity = 100)
}
.side-menu>ul>li:hover .float-menu {
	left: 100%;
	display: block;
	opacity: 1;
	filter: alpha(opacity = 100)
}

.hoverContent .export-btn.hovered,.hoverContent .tipContent {
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696',
		Direction=135, Strength=5)
}

.side-menu .float-menu .sec-nav-a {
	display: block;
	padding: 10px 20px;
	font-size: 14px;
	line-height: 1em;
	text-decoration: none;
	word-break: normal;
	white-space: nowrap;
	color: #fff;
	cursor: pointer;
}

.side-menu .float-menu .sec-nav-a:hover {
	background-color: #add2ed;
	color: #157fcc;
}

.side-menu .float-menu .third-nav-a {
	display: block;
	padding: 0 15px 0 30px;
	line-height: 2em;
	font-size: 12px;
	text-decoration: none;
	word-break: normal;
	white-space: nowrap;
	color: #fff
}

.side-menu .sec-nav.sec-nav-flow {
	overflow: hidden;
	padding-top: 10px
}

.side-menu .sec-nav-li.sec-nav-li-flow {
	float: left;
	border-right: 1px dashed #2bbace
}

.side-menu .sec-nav-li.sec-nav-li-flow:last-child {
	border-right: none
}

.side-menu .sec-nav-li.sec-nav-li-flow .third-nav-ul {
	border-right: 1px solid dotted
}

.side-menu .sec-nav-li.sec-nav-li-flow .third-nav-ul:last-child {
	border-right: none
}

.side-menu .sec-nav-li.sec-nav-li-flow .third-nav-a {
	display: block;
	padding: 10px 20px;
	text-align: left;
	font-size: 14px;
	line-height: 1em;
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.side-menu .sec-nav-li.sec-nav-li-flow .third-nav-a:hover {
	cursor: pointer;
	background-color: #add2ed;
	color: #157fcc;
}

.side-menu .float-menu .sec-nav-a.li-a-color {
	color: #62d9ea;
	text-align: left;
	padding: 0 20px 10px;
	line-height: 1em
}

.side-menu .float-menu .sec-nav-a.li-a-color:hover {
	background-color: inherit;
	cursor: default
}

.side-menu .li-crop {
	height: inherit
}

.side-menu .li-crop>a {
	background: 0 0;
	display: block;
	text-align: center;
	font-size: 15px;
	color: #fff;
	position: relative;
	padding: 17px 0;
	line-height: 1em
}

.map,.map a {
	font-size: 14px;
	color: #666
}

.side-menu .li-crop .icon {
	/**background: url(../images/headerv2.1.png) no-repeat;**/
	display: block;
	width: 34px;
	height: 35px;
	font-size: 34px;
	margin: 0 auto 8px
}

.side-menu .li-crop .order .icon {
	background-position: 4px -140px
}

.side-menu .li-crop .customer .icon {
	background-position: -39px -137px
}

.side-menu .li-crop .product .icon {
	background-position: -77px -136px
}

.side-menu .li-crop .sales .icon {
	background-position: -120px -140px
}

.side-menu .li-crop .message .icon {
	background-position: -159px -136px
}

.side-menu .li-crop .report .icon {
	background-position: -199px -138px
}

.side-menu .li-crop .pay .icon {
	background-position: -119px -137px
}

.side-menu>ul>.li-crop.current {
	background: url(../images/menu.png) -104px -31px no-repeat #3892d3
}

@media screen and (max-height:610px) {
	.side-menu .li-crop>a {
		font-size: 14px;
		padding: 13px 0;
	}
	.side-menu .li-crop .icon {
		width: 26px;
		height: 30px;
		font-size: 24px;
		margin-bottom: 0
	}
	.side-menu>ul .li-crop.current {
		background-position: -104px -40px
	}
	.side-menu .li-crop .order .icon {
		background-position: 3px -40px
	}
	.side-menu .li-crop .customer .icon {
		background-position: -39px -40px;
		margin-bottom: 4px
	}
	.side-menu .li-crop .product .icon {
		background-position: -78px -40px
	}
	.side-menu .li-crop .sales .icon {
		background-position: -120px -40px
	}
	.side-menu .li-crop .message .icon {
		background-position: -199px -40px
	}
	.side-menu .li-crop .report .icon {
		background-position: -239px -40px
	}
	.side-menu .li-crop .pay .icon {
		background-position: -159px -40px
	}
	.side-menu {
		margin-top: 40px
	}
}
@media screen and (min-height:660px) {
	.side-menu {
		margin-top: 50px
	}
}
