/**************************************按钮图标样式开始**********/
/**首页**/
.home_page {
	background-image: url(../images/house.png) !important;
}
/**新增**/
.add_button {
	background-image: url(../images/add.png) !important;
}
/**修改**/
.edit_button {
	background-image: url(../images/comment_edit.png) !important;
}
/**删除**/
.delete_button {
	background-image: url(../images/delete.png) !important;
}
/**同意**/
.accept_button {
	background-image: url(../images/accept.png) !important;
}
/**刷新**/
.reload_button {
	background-image: url(../images/reload.png) !important;
}
/**重置**/
.reset_button {
	background-image: url(../images/arrow_redo.png) !important;
}
/**退回可用**/
.arrow_up_button {
	background-image: url(../images/arrow_up.png) !important;
}
/**取消\关闭**/
.close_button {
	background-image: url(../images/cross.png) !important;
}
/**导入**/
.import_button {
	background-image: url(../images/door_in.png) !important;
}
/**拒绝，停用可用**/
.stop_button {
	background-image: url(../images/stop.png) !important;
}
/**作废可用**/
.no_button {
	background-image: url(../images/no.png) !important;
}
/**查询**/
.search_button {
	background-image: url(../images/search.png) !important;
}
/**导出可用**/
.export_button {
	background-image: url(../images/door_out.png) !important;
}
/**数据下发**/
.database_go_button {
	background-image: url(../images/database_go.png) !important;
}
/**结案**/
.rosette_button {
	background-image: url(../images/rosette.png) !important;
}
/**预览**/
.cd_button {
	background-image: url(../images/cd.gif) !important;
}
/**功能收缩**/
.arrow_in_button {
	background-image: url(../images/arrow_in.png) !important;
}
/**功能展开**/
.arrow_out_button {
	background-image: url(../images/arrow_out.png) !important;
}
/**打印**/
.print_button {
	background-image: url(../images/print.png) !important;
}
/**保存**/
.save_button {
	background-image: url(../images/save.png) !important;
}
/**退出**/
.exit_button {
	background-image: url(../images/exit.gif)  !important;
}
/**历史**/
.history_button {
	background-image: url(../images/history.gif)  !important;
}
/**计算**/
.count_button {
	background-image: url(../images/count.png)  !important;
}
/**插入图片**/
.heditImgIcon {
	background-image: url(../images/img.gif) !important;
}
/**插入附件**/
.heditAttachIcon {
	background-image: url(../images/attach.png) !important;
}
/* new**/
.new_button {
	background-image: url(../images/new4.gif) !important;
}
/* new**/
.start_button {
	background-image: url(../images/10020206.png) !important;
}

.pause_button {
	background-image: url(../images/10020205.png) !important;
}
.help_button {
	background-image: url(../images/help.png) !important;
}

.info_a_icon {
	background-image: url(../images/icon16_info.png) !important;
}

.info_b_icon {
	background-image: url(../images/read.png) !important;
}

.chart_line {
	background-image: url(../images/chart1.png) !important;
}
.chart_column {
	background-image: url(../images/chart.png) !important;
}
.read_button {
	background-image: url(../images/read.png) !important;
}

.vender_button {
	width:16px;
	height:16px;
	background-image: url(../images/menus/100202.png) !important;
}
.brand_button {
	width:16px;
	height:16px;
	background-image: url(../images/menus/1002.png) !important;
}
.xm_button {
	width:16px;
	height:16px;
	background-image: url(../images/menus/100904.png) !important;
}
/**************************************按钮图标样式结束**********/

/**输入框只读时背景色**/
.dms_readonly {
	background-color: #E6E6E6;
}
/**表格里的操作列的链接去掉下划线**/
.row_btn {
	text-decoration: none;
	margin-right: 3px;
}
/**表格里的操作列的链接鼠标移到上面有下划线**/
.row_btn:hover {
	text-decoration: underline;
}
/**输入框disable、只读时样式**/
.csm-textbox-disabled input,.csm-textbox-disabled textarea,.csm-textbox-disabled div
{
	color: black !important;
	background-image: none !important;
	background-color: #E0E0E0 !important;
}
.loginUser {
	font:13px Arial, Helvetica, sans-serif;
}
.bd_classic {
	background-color:#cbddf3;
}
.bd_access {
	background-color:#3a4155;
}
.bd_neptune {
	background-color:#e2eff8;
}
.bd_gray {
	background-color:#d7d2d2;
}
.field_classic {
	padding-top:3px;
	color:#04408c;
}
.field_access {
	padding-top:3px;
	color:#ffffff;
}
.field_neptune {
	padding-top:3px;
	color:#ffffff;
}
.field_gray {
	padding-top:3px;
	color:#333;
}
/** Tip开始**/
p {
    margin-bottom:15px;
}
h1 {
    font-size:18px;
    margin-bottom:20px;
}
h2 {
    font-size:14px;
    color:#333;
    font-weight:bold;
    margin:10px 0;
}
.example-info{
    width:150px;
    border:1px solid #c3daf9;
    border-top:1px solid #DCEAFB;
    border-left:1px solid #DCEAFB;
    background:#ecf5fe url( info-bg.gif ) repeat-x;
    font-size:10px;
    padding:8px;
}
pre.code{
    background: #F8F8F8;
    border: 1px solid #e8e8e8;
    padding:10px;
    margin:10px;
    margin-left:0px;
    border-left:5px solid #e8e8e8;
    font-size: 12px !important;
    line-height:14px !important;
}
.msg .x-box-mc {
    font-size:14px;
}
#msg-div {
    position:absolute;
    left:50%;
    top:10px;
    width:400px;
    margin-left:-200px;
    z-index:20000;
}
#msg-div .msg {
    border-radius: 8px;
    -moz-border-radius: 8px;
    background: #F6F6F6;
    border: 2px solid #ccc;
    margin-top: 2px;
    padding: 10px 15px;
    color: #555;
}
#msg-div .msg h3 {
    margin: 0 0 8px;
    font-weight: bold;
    font-size: 15px;
}
#msg-div .msg p {
    margin: 0;
}
.x-grid3-row-body p {
    margin:5px 5px 10px 5px !important;
}

.feature-list {
    margin-bottom: 15px;
}
.feature-list li {
    list-style: disc;
    margin-left: 17px;
    margin-bottom: 4px;
}
/** Tip结束**/

/**TOP开始**/
.main_top{height:70px;background-color: #0e386d;}
.logo {background-repeat: no-repeat;float: left;height: 70px;line-height: 70px;color: #FFFFFF;padding-left: 20px;font: bold 30px/70px arial,sans-serif;}
.right {float: right;height: 70px;width: 376px;line-height: 70px;color: #FFFFFF;padding-right: 20px;background-image: url(../images/right_bj.png);background-repeat: no-repeat;}
/**TOP结束**/

	    .app-header-title-classic {
			color: #04408c;
			font-size: 30px;
			font-weight: bold;
			font-family: Arial,宋体;
			text-shadow: 0 1px 0 gray;
		}
		.app-header-title-access {
			color: white;
			font-size: 30px;
			font-weight: bold;
			font-family: Arial,宋体;
			text-shadow: 0 1px 0 gray;
		}
		.app-header-title-gray {
			color: #333;
			font-size: 30px;
			font-weight: bold;
			font-family: Arial,宋体;
			text-shadow: 0 1px 0 gray;
		}
		.app-header-title-neptune {
			color: white;
			font-size: 30px;
			font-weight: bold;
			font-family: Arial,宋体;
			text-shadow: 0 1px 0 gray;
		}
		.app-header-classic {
			background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#f3f6fc),color-stop(100%,#cbdaf0));
			background-image: -webkit-linear-gradient(top,#f3f6fc,#cbdaf0);
			background-image: -moz-linear-gradient(top,#f3f6fc,#cbdaf0);
			background-image: -o-linear-gradient(top,#f3f6fc,#cbdaf0);
			background-image: linear-gradient(top,#f3f6fc,#cbdaf0);
			border-bottom: 1px solid #a3bde5;
		}
		.app-header-access {
			background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#4a5366),color-stop(100%,#343b48));
			background-image: -webkit-linear-gradient(top,#4a5366,#343b48);
			background-image: -moz-linear-gradient(top,#4a5366,#343b48);
			background-image: -o-linear-gradient(top,#4a5366,#343b48);
			background-image: linear-gradient(top,#4a5366,#343b48);
			border-bottom: 1px solid #1f232b;
		}
		.app-header-gray {
			background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#ededed),color-stop(100%,#d3d3d3));
			background-image: -webkit-linear-gradient(top,#ededed,#d3d3d3);
			background-image: -moz-linear-gradient(top,#ededed,#d3d3d3);
			background-image: -o-linear-gradient(top,#ededed,#d3d3d3);
			background-image: linear-gradient(top,#ededed,#d3d3d3);
			border-bottom: 1px solid #bab9b9;
		}
		.app-header-neptune {
			background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#1e71b1),color-stop(100%,#157fcc));
			background-image: -webkit-linear-gradient(top,#1e71b1,#157fcc);
			background-image: -moz-linear-gradient(top,#1e71b1,#157fcc);
			background-image: -o-linear-gradient(top,#1e71b1,#157fcc);
			background-image: linear-gradient(top,#1e71b1,#157fcc);
			border-bottom: 1px solid #1e71b1;
		}
		
		.zw_title{color:#04468c; font-size:21px; font-weight:bold;line-height:150%;width:98%;text-align:center;margin:5px;}
		
		.Gray12{color:#888888; font-size:12px;}
	

.ux-notification-window .x-window-body {
	text-align: center;
	padding: 15px 5px 15px 5px;
	width: 200px;
}

.tableStyle{border-collapse: collapse;width: 100%;background-color: White;border:solid 1px #C7C7E2!important;}
.tableStyle td{border-right: 1px solid windowtext;border-bottom: 1px solid windowtext;border-color: #cccccc;height:24px; padding: 2px;}
.tableStyle tr{color:#333333;}  input{height:18px;line-height:15px;background-color:#EEF0FC;border:1px solid #9AC3E1;color:#04468c;}
.tableStyle th{background-color:#D2E9FF;border-right: 1px solid windowtext;border-bottom: 1px solid windowtext;border-color: #9AC3E1;height:24px; padding: 1px;color:#04468c;}
.templateDiv {border-bottom:1px #000 solid;width:90px;display:-moz-inline-box;display:inline-block;text-align:center;line-height:20px;}
.x-editable {background-color:#FDF5E6;line-height:20px;}

tr.x-grid-record-yellow .x-grid-td {
    background: YELLOW;
}

tr.x-grid-record-red .x-grid-td {
    background: #DB7093;
}

.ux-notification-window .x-window-body{text-align:center;padding:15px 5px 15px 5px;width:200px;}

UL.ListTitle {
	TEXT-ALIGN: left;
	LIST-STYLE-TYPE: none;
	MARGIN: 5px 0 0;
	LIST-STYLE-IMAGE: none;
}

 .homepageli {
	border-bottom: #bbb 1px dotted;
	margin: 6px 0 0;
	width: 100%;
	height: 16px;
}

.homepage-info {
	border-bottom: #bbb 1px dotted;
	margin: 0 7 0 7;
	width: 95%;
	font-size:13px;
	height: 25px;
	line-height:25px;
	text-overflow: ellipsis;
	white-space: nowrap;
	o-text-overflow: ellipsis;
	-moz-binding: url("ellipsis.xml#ellipsis");
	overflow: hidden;
}
.homelidiv{
	text-overflow: ellipsis;
	white-space: nowrap;
	o-text-overflow: ellipsis;
	-moz-binding: url("ellipsis.xml#ellipsis");
	overflow: hidden;
}
.homepageli_haver {
	border-bottom: #bbb 1px dotted;
	margin: 6px 0 0;
	width: 100%;
	background-color:#e0e0e0;
	height: 16px;
	overflow: hidden;
}

.appdiv{margin:10px;background-color:#E0E0E0;width:80px;height:80px;text-align:center;align:center;}
.appdiv_move{margin:10px;background-color:#9393FF;width:80px;height:80px;text-align:center;align:center;color:#ffffff}

.badge{margin-right:3px;display:inline-block;min-width:10px;padding:3px 7px;font-size:12px;font-weight:700;line-height:1;color:#fff;text-align:center;white-space:nowrap;vertical-align:baseline;background-color:#777;border-radius:10px}
.badge:empty{display:none}
.btn .badge{position:relative;top:-1px}
.btn-xs .badge{top:0;padding:1px 5px}
a.badge:hover,a.badge:focus{color:#fff;text-decoration:none;cursor:pointer}
.alert-danger{color:#a94442;background-color:#f2dede;border-color:#ebccd1}
.alert-danger hr{border-top-color:#e4b9c0}
.font-bold {
	font-weight: bold;
}

.dark {
	color: #333 !important
}

.white {
	color: #fff !important
}

.d_blue {
	color: #add2ed !important
}
.login_d_blue {
	color: #add2ed !important;
	font-size:28px;
}

.red {
	color: #dd5a43 !important
}

.light-red {
	color: #f77 !important
}

.blue {
	color: #478fca !important
}

.light-blue {
	color: #93cbf9 !important
}

.green {
	color: #69aa46 !important
}

.light-green {
	color: #b0d877 !important
}

.orange {
	color: #ff892a !important
}

.light-orange {
	color: #fcac6f !important
}

.orange2 {
	color: #feb902 !important
}

.purple {
	color: #a069c3 !important
}

.pink {
	color: #c6699f !important
}

.pink2 {
	color: #d6487e !important
}

.brown {
	color: #a52a2a !important
}

.grey {
	color: #777 !important
}

.light-grey {
	color: #bbb !important
}

.bigger-110 {
	font-size: 110%
}

.bigger-120 {
	font-size: 120%
}

.bigger-130 {
	font-size: 130%
}

.bigger-140 {
	font-size: 140%
}

.bigger-150 {
	font-size: 150%
}

.bigger-160 {
	font-size: 160%
}

.bigger-170 {
	font-size: 170%
}

.bigger-180 {
	font-size: 180%
}

.bigger-190 {
	font-size: 190%
}

.bigger-200 {
	font-size: 200%
}

.bigger-210 {
	font-size: 210%
}

.bigger-220 {
	font-size: 220%
}

.bigger-230 {
	font-size: 230%
}

.bigger-240 {
	font-size: 240%
}

.bigger-250 {
	font-size: 250%
}

.bigger-260 {
	font-size: 260%
}

.bigger-270 {
	font-size: 270%
}

.bigger-280 {
	font-size: 280%
}

.bigger-290 {
	font-size: 290%
}

.bigger-300 {
	font-size: 300%
}

.bigger-125 {
	font-size: 125%
}

.bigger-175 {
	font-size: 175%
}

.bigger-225 {
	font-size: 225%
}

.bigger-275 {
	font-size: 275%
}

.smaller-90 {
	font-size: 90%
}

.smaller-80 {
	font-size: 80%
}

.smaller-70 {
	font-size: 70%
}

.smaller-60 {
	font-size: 60%
}

.smaller-50 {
	font-size: 50%
}

.smaller-40 {
	font-size: 40%
}

.smaller-30 {
	font-size: 30%
}

.smaller-20 {
	font-size: 20%
}

.smaller-75 {
	font-size: 75%
}

.classic {
	margin-top: 6px;
}
.classic .menus_clazz a {
	display: block;
	cursor: pointer;
	font-family:宋体;
	background-color: #cbddf3;
	border-color: #cbddf3;
	color: #04468c;
	line-height: 30px;
	height: 30px;
	font-size: 13px;
	margin: 3px 8px 3px 8px;
	white-space: nowrap;
	text-decoration: none;
    o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	-moz-binding: url("ellipsis.xml#ellipsis");
	overflow: hidden;
}
.classic .menus_clazz a:hover {
	background-color: #d9e7f8;
	border:1px solid #04468c;
	text-decoration: none;
	font-weight: bold;
	color: #04468c;
}

.neptune {
	margin-top: 6px;
}
.neptune .menus_clazz a {
	display: block;
	cursor: pointer;
	background-color: #157fcc;
	border-color: #157fcc;
	color: #fff;
	line-height: 30px;
	text-decoration: none;
	height: 30px;
	font-size: 13px;
	margin: 3px 8px 3px 8px;
	white-space: nowrap;
    o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	-moz-binding: url("ellipsis.xml#ellipsis");
	overflow: hidden;
}
.neptune .menus_clazz a:hover {
	background-color: #add2ed;
	border:1px solid #157fcc;
	text-decoration: none;
	color: #157fcc;
	font-weight: bold;
}

.access {
	margin-top: 6px;
}
.access .menus_clazz a {
	display: block;
	cursor: pointer;
	background-color: #3a4155;
	border-color: #3a4155;
	color: #fff;
	line-height: 30px;
	text-decoration: none;
	height: 30px;
	font-size: 13px;
	margin: 3px 8px 3px 8px;
	white-space: nowrap;
    o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	-moz-binding: url("ellipsis.xml#ellipsis");
	overflow: hidden;
}
.access .menus_clazz a:hover {
	background-color: #5c6b82;
	border:1px solid #fff;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
}

.gray {
	margin-top: 6px;
}
.gray .menus_clazz a {
	cursor: pointer;
	background-color: #d8d8d8;
	border:1px solid #d0d0d0;
	color:black;
	line-height: 30px;
	text-decoration: none;
	height: 30px;
	font-size: 13px;
	margin: 3px 8px 3px 8px;
	display: block;
	white-space: nowrap;
    o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	-moz-binding: url("ellipsis.xml#ellipsis");
	overflow: hidden;
}
.gray .menus_clazz a:hover {
	background-color: #e5e5e5;
	border:1px solid black;
	text-decoration: none;
	color: black;
	font-weight: bold;
}

.menus_clazz a [class^="icon-"], .menus_clazz a [class*=" icon-"]
	{
	width: 30px;
	font-size: 15px;
	display: inline-block;
	text-align: right;
	margin-right: 5px;
}

.menus_clazz a:hover [class^="icon-"], .menus_clazz a:hover [class*=" icon-"]
	{
	*font-size: 27px;
	*vertical-align: middle;
}

.menus_clazz a:hover [class^="icon-"]:before,  .menus_clazz a:hover [class*=" icon-"]:before
	{
	font-size: 27px;
	vertical-align: -5px;
}


.div_tree {
	border: #6fb3e0 1px solid;
	float: left;
	margin-left: 5px;
	padding: 2px 5px 2px 5px;
}

.div_tree:hover {
	background-color: #6fb3e0;
	color: #fff;
}

 .x-item-selected {
    background: #eff5fb url(selected.gif) no-repeat right bottom;
    border: 1px solid #99bbe8;
    padding: 4px;
}
 .thumb-wrap {
    float: left;
    margin: 4px;
    margin-right: 0;
    padding: 5px;
}
.verticalAlign {
	 vertical-align:middle;
}

.home_faq{
    display: none;
    font-size: 12px;
    text-indent: 2em;
    padding: 0px 10px 5px 0px;
    line-height: 20px;
    color: #444;
    overflow: hidden;
}
.home_faq li {
    height: 40px;
    line-height: 40px;
    border-bottom:1px #e8e8e8 solid;
    text-indent: 1.8em;
    overflow: hidden;
    background: url(../images/home-line-gb.png) no-repeat;
    font-size: 13px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.homeblue li{
	background: url(../images/index_icon.png) -324px -20px no-repeat;
}

.home_faq a {
    float: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 13px;
    width:67%;
}
.home_faq a:visited {
    text-decoration: none;
    color: #444;
}
.home_faq a:link {
    text-decoration: none;
    color: #444;
}
.home_faq a:hover {text-decoration:none; color:#F90;}
.home_faq a:active {text-decoration:none; color:#F90;}
.home_faq span {
    display: block;
    font-size: 13px;
    float: right;
    width:33%;
    text-align:right;
}
.home_detail_btn{
	padding:6px;cursor:pointer;border-radius:3px;margin:5px 10px 5px 0px;color:#fff;text-align:center;border: #fff 1px solid;
}

.home_ref_btn{
	padding:5px;cursor:pointer;border-radius:3px;margin:4px 10px 4px 0px;color:#fff;text-align:center;font-size:18px;
}

.home_detail_btn:hover{
	background:#fff;color:#000;
}

.home_ref_btn:hover{
	background:#fff;color:#000;
}
.user-left {
    width: 180px;
}
.fl {
    float: left;
}
.user-right {
	margin:5px 0px;
    width: 2px;
    border-left: 1px solid #ededed;
    height: 100%;
}
.user-menu {
	width: 180px;
	padding: 10px 0 0;
}

.user-menu li {
	padding: 5px 0;
	height: 31px;
	line-height: 32px;
	position: relative;
	_z-index: 0;
	margin: 5px 0px;
    padding: 0;
    border: 0;
    outline: 0;
}

.user-menu .user-menu-a {
	width: 156px;
	height: 31px;
	color: #6c6c6c;
	font-size: 12px;
	display: inline-block;
	float: left;
	background: no-repeat;
	background-position: -212px 0;
	margin-left: 10px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}

.user-menu .user-menu-a:hover {
	color: #0f8ff2;
	text-decoration: none;
	background: no-repeat;
	background-position: 0 -214px
}

.user-menu .circle {
	line-height: 100%;
	font-family: Tahoma, Helvetica;
	font-size: 29px;
	color: #eaeaea;
	position: absolute;
	top: 50%;
	margin-top: -15px;
	right: -7px;
	*right: -6px;
}
.user-menu .circle span{
	font-size: 29px;
}

.user-menu .red-circle {
	line-height: 100%;
	font-family: Tahoma, Helvetica;
	font-size: 20px;
	color: #ec5050;
	position: absolute;
	top: 2px;
	right: 50px
}

.user-menu .x-item-selected .user-menu-a {
	color: #0f8ff2;
	background: no-repeat;
	background-position: 0 -214px
}

.user-menu .x-item-selected .circle {
	height: 16px;
	display: inline-block;
	border-bottom: 1px solid #0f8ff2;
	position: absolute;
	right: 0;
	top: 13px;
	_z-index: 0;
	transition: width .5s;
	_float: left;
	_margin-top: 2px;
	width: 14px;
}

.user-menu .x-item-selected .circle span {
	color: #0f8ff2;
	font-size: 40px;
	right: -10px;
	top: -1px;
	position: absolute;
	_right: -7px
}

.user-menu .user-menu-a,.user-menu .user-menu-a:hover,.user-menu .x-item-selected .user-menu-a {
	background-image: url(../images/my.png?20160829165151)
}

#images-view .thumb img{
    width: 135px;
    border:1px solid #f5f5f5
}
#images-view .thumb-wrap{
    float: left;
    margin: 5px;
    margin-right: 0;
    padding: 5px;
}
#images-view .thumb-wrap span {
    
    display: block;
    overflow: hidden;
    text-align: center;
}

#images-view .x-item-over{
    border:2px solid #dddddd;
    background: #efefef;
    padding: 3px;
}

#images-view .x-item-selected{
    background: #eff5fb;
    border:2px solid #99bbe8;
    padding: 3px;
}
#images-view .x-item-selected .thumb{
    background:transparent;
}

.bannerImagePanel div{
	vertical-align: middle !important;
}

.table_{    border-collapse:collapse; border-spacing:0;border:1px solid #f4f4f4;padding-bottom: 100px;}
/*各一行变颜色*/
.table_ tr:nth-child(2n){background: #f8f9fb;}
/*单元格内边距-高度-描边颜色-字体大小*/
.table_ tr td{ padding-left: 5px;  color:#808080; border:1px solid #d1d1d1; height:40px;font-size: 12px; font-family: "微软雅黑",sans-serif,verdana, helvetica, arial,"微软雅黑";}
.table_ tr td:nth-child(2n){ color:#000;}
/*第一行表格样式*/
.table_ tr.first td{font-weight: bold;color:#ccc;} 
/*第一行样式*/
.tr1 td{ color:#333;font-size: 12px;font-weight: bold;}
/*特别表格文字居中*/
.table_.center tr td{ text-align: center;padding: 0;}
/*去除表格背景色*/
.table_.bg_no tr:nth-child(2n){background: #fff;}


.zhengwu_t {
    height: 52px;
    line-height: 52px;
    border-bottom: 2px solid #4ba7f5;
    padding-left: 10px;
    padding-right: 10px;
}
.zhengwu_t .sp_zw {
    height: 52px;
    font-size: 18px;
    color: #4ba7f5;
    float: left;
    position: relative;
    padding-left: 10px;
}
.zhengwu_t .sp_zw:after {
    content: "";
    height: 32px;
    width: 2px;
    background: #4ba7f5;
    position: absolute;
    left: 0;
    top: 10px;
}
.zhengwu_c li {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #dddddd;
    padding-right: 10px;
    padding-left: 20px;
    position: relative;
}
.zhengwu_c li a {
    float: left;
    color: #020202;
    width: 75%;
    text-overflow: ellipsis;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
}
.zhengwu_c li span {
    float: right;
}
.zhengwu_c li:after {
    content: "";
    width: 5px;
    height: 5px;
    background: #4ba7f5;
    position: absolute;
    left: 10px;
    top: 22px;
}
