*{margin:0;padding:0;box-sizing: border-box;}
li{list-style:none}
a{color: inherit;text-decoration: none;}
input{border:0;outline:none;}

html, body {
    min-width: 900px;
    min-height: 100%;
}
body{
    background: url(/statics/images/315/315iconbg.png) no-repeat;
    background-size: 100% 100%;
    /*background-color: #dc0727;*/
    text-align: center;
}

.content{
    width: 900px;
    display: inline-block;
    position: relative;
}
.content img{
    width: 100%;
}
.button{
    height: 200px;
    width: 100%;
    cursor: pointer;
    position: absolute;
    left: 0;
    bottom: 0;
}

.info{
    padding: 10px;
    background-color: #e4bfab;
    border-radius: 10px;
    width: 720px;
    position: absolute;
    right: 20px;
    bottom: 245px;
}
.info .head{
    width: 120px;
    margin-bottom: 10px;
}
.info input{
    border-radius: 10px;
    border: 1px solid #bc6c53;
}

.info #add{
    line-height: 38px;
    color: #941f25;
}

.info .sub{
    width: 150px;
    cursor: pointer;
}