*{margin:0;padding:0;box-sizing: border-box;}
li{list-style:none}
a{color: inherit;text-decoration: none;}
a:hover{color:black}
input{border:0;outline:none;}

html, body {
    min-width: 900px;
}
body{
    background: url(../img/bg.jpg) ;
    /*background-size: 100% 100%;*/
}

.center{
    text-align: center;
    width: 100%;
    min-width: 900px;
    display: none;
}
.center .content{
    text-align: left;
    width: 100%;
    max-width: 1200px;
    min-width: 900px;
    display: inline-block;
    position: relative;
}

.top{
    width: 100%;
    height: 130px;
    /*border-bottom: 1px solid #f1f1f1;*/
    text-align: center;
    /*padding: 30px 10px;*/
    /*overflow: hidden;*/
    /*background-color: #6091b7;*/
}
.top .content{
    padding: 20px 10px;
    background-color: #6091b7;
}
.top .title{
    float: left;
    /*width: 100%;*/
    height: 90px;
    z-index: 10;
}
.top .title img{
    width: 90px;
    float: left;
}
.top .title div{
    float: left;
    color: white;
    margin-top: 10px;
}
.top .title div h1{
    font-weight: 400;
}
.top .qr{
    width: 75px;
    position: absolute;
    top: 40px;
    right: 55px;
    z-index: 50;
    cursor: pointer;
}
.top .qr:nth-child(2){
    right: 130px;
}
.top .qr img{
    width: 100%;
    display: none;
}
.top .qr p{
    color: white;
    font-size: 12px;
    /*font-weight: 300;*/
    /*margin-left: 5px;*/
    margin-bottom: 5px;
    padding-left: 20px;
    background: url(../img/WeChat.png) no-repeat left center;
}
.top .qr:nth-child(2) p{
    padding-left: 15px;
    background: url(../img/App.png) no-repeat left center;
}
.top .czzn{
    width: 40px;
    position: absolute;
    top: 30px;
    right: 10px;
    cursor: pointer;
}
.top .tel{
    color: white;
    position: absolute;
    top: 40px;
    right: 220px;
    padding-left: 18px;
    background: url(../img/tel.png) no-repeat left center;
    background-size: 13px;
}
.top .login{
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 40px;
    line-height: 40px;
    color: white;
}
.top .login a{
    padding: 0 10px;
    color: white;
}
.top .login a img{
    width: 18px;
    margin-right: 10px;
}
.top .login .switch{
    display: inline-block;
    position: relative;
}
.top .login .switch a{
    display: none;
    position: absolute;
    top: 38px;
    background-color: white;
    color: #6091b7;
    z-index: 1;
}
.top .login .switch a.show{
    position: static;
    display: block;
    color: white;
    background-color: #6091b7;
}
.top .login .switch a:hover{
    background-color: #0c6dbe;
    color: white;
}
.top .login .switch:hover a{
    display: block;
}

.mid{
    margin-top: 30px;
}
.mid .service1, .mid .service1>div{
    height: 465px;
}
.service1 .left{
    width: 400px;
    float: left;
    position: relative;
}
.service1 .left ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.service1 .left ul li{
    width: 32%;
    height: 130px;
    text-align: center;
    background-color: #5f90b7;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
    font-size: 16px;
    font-weight: 100;
    cursor: pointer;
}
.service1 .left ul li img{
    margin-top: 15px;
    margin-bottom: 5px;
}
.service1 .left .record{
    background-color: #e86d1c;
    border-radius: 10px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 100;
    cursor: pointer;
}
.service1 .left .record img{
    width: 25px;
    margin-right: 10px;
}
.service1 .left .submenu{
    background-color: white;
    position: absolute;
    width: 400px;
    min-height: 410px;
    /*right: -400px;*/
    top: 0;
    z-index: 50;
    box-shadow: 0 0 3px #f3f3f3;
    border-left: 1px solid #f3f3f3;
    padding: 20px;
    padding-bottom: 0;
    display: none;
}
.owner-center_menu,.relate-center_menu,.supervise-center_menu{
    left: 128px;
}
.com-center_menu,.association-center_menu,.business-center_menu{
    left: 260px;
}
.gover-center_menu,.talent-center_menu,.data-center_menu{
    left: 390px;
}
.service1 .left .submenu.active{
    display: block;
}
.service1 .left .submenu a{
    display: block;
    width: 33%;
    height: 70px;
    text-align: center;
    float: left;
    margin-bottom: 30px;
    cursor: pointer;
}
.service1 .left .submenu a p{
    margin-top: 10px;
    font-size: 14px;
    color: #333333;
}
.service1 .left .submenu a:hover p{
    color: #4285f4;
}
.service1 .right{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-left: 400px;
    padding-left: 20px;
}
.service1 .right .title{
    text-align: center;
}
.service1 .right .title img{
    width: 100px;
}
.service1 .right .title div{
    display: inline-block;
    padding-left: 155px;
    background: url(../img/glass.png) no-repeat left center;
    background-size: 130px;
}
.service1 .right .title div h1{
    font-size: 42px;
    color: #e76d1c;
}
.service1 .right .title div p{
    font-size: 18px;
    color: #787777;
}
.service1 .right .query{
    background-color: #c3c4c5;
    padding: 10px 20px;
    margin-top: 10px;
}
.service1 .right .query .input .selSearchOptionHoverlist {
    vertical-align: bottom;
    border-radius: 10px;
}
.service1 .right .query .input .selSearchOptionHoverlist input{
    width: 100%;
}
.service1 .right .query .input input{
    height: 40px;
    padding: 5px 10px;
    font-size: 14px;
    width: 80%;
    border-radius: 10px;
}
.service1 .right .query .select{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.service1 .right .query .select>div{
    width: 19%;
}
.service1 .right .query .select input {
    height: 40px;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 10px;
}
.service1 .right .query .select .select-selected{
    height: 40px;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 10px;
}
.service1 .right .query .select .select-selected span{
    line-height: 30px;
}
.service1 .right .query .select .button{
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    color: white;
    background-color: #e86d1c;
    border-radius: 10px;
    cursor: pointer;
}
.service1 .right .msg{
    background-color: white;
    /*opacity: .7;*/
    padding: 10px 20px;
    margin-top: 10px;
    height: 245px;
    position: relative;
}
.service1 .right .msg .owner{
    width: 50%;
    float: left;
    padding: 10px 0;
}
.service1 .right .msg .owner .tit{
    width: 40%;
    float: left;
    text-align: center;
}
.service1 .right .msg .owner .tit img{
    width: 80px;
    margin-bottom: 15px;
}
.service1 .right .msg .owner .tit p{
    font-size: 26px;
    line-height: 28px;
    font-weight: 400;
    color: #e86d1c;
}
.service1 .right .msg .owner ul{
    width: 60%;
    height: 200px;
    float: left;
    padding-left: 20px;
    background: url(../img/wireframe.png) no-repeat 10px center;
    background-size: 10px 80%;
}
.service1 .right .msg .owner ul li{
    height: 40px;
    line-height: 40px;
    color: white;
    background-color: #b5b6b6;
    text-align: center;
    border-radius: 10px;
    font-size: 18px;
    margin-top: 8px;
    cursor: pointer;
}
.service1 .right .msg .doctor{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-left: 50%;
    padding: 10px;
    height: 245px;
}
.service1 .right .msg .doctor .tit{
    text-align: center;
}
.service1 .right .msg .doctor .tit p{
    font-size: 26px;
    height: 50px;
    line-height: 50px;
    font-weight: 400;
    color: #e86d1c;
    display: inline-block;
    padding-left: 70px;
    background: url(../img/车大夫门诊图标.png) no-repeat left center;
    background-size: 60px;
}
.service1 .right .msg .doctor .tag{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 5px;
}
.service1 .right .msg .doctor .tag li{
    width: 30%;
    text-align: center;
    background-color: #b4b5b6;
    color: white;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-weight: 200;
    border-radius: 10px;
    cursor: pointer;
}
.service1 .right .msg .doctor .doctor_content{
    display: none;
    height: 150px;
    position: relative;
    overflow: hidden;
}
.service1 .right .msg .doctor .doctor_content.active{
    display: block;
}
.service1 .right .msg .doctor .doctor_content ul{
    height: 125px;
    overflow: hidden;
}
.service1 .right .msg .doctor .doctor_content ul li{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 10px;
    background: url(../img/spot.png) no-repeat left center;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    cursor: pointer;
    width: 100%;
}
.service1 .right .msg .doctor .doctor_content ul li:hover{
    color: #e86d1c;
}

.service1 .right .msg .doctor .doctor_content a{
    display: block;
    position: absolute;
    width: 70px;
    text-align: center;
    margin: 0 auto;
    bottom: 5px;
    left: 0;
    right: 0;
    padding: 1px 0;
    font-size: 12px;
    color: #070707;
    border: 1px solid #070707;
    border-radius: 5px;
    cursor: pointer;
}
.service1 .right .msg .doctor .doctor_content a:hover{
    color: #e86d1c;
    border-color: #e86d1c;
}

.info{
    margin-top: 30px;
    position: relative;
    background-color: white;
    opacity: .8;
}
.info .title{
    margin: 0 5px;
    background-color: #1b6c93;
    padding: 10px 0;
    overflow: hidden;
    border-radius: 10px;
}
.info .title li{
    color: white;
    float: left;
    text-align: center;
    cursor: pointer;
    border-right: 2px solid #dcdddd;
    font-size: 18px;
    font-weight: 100;
}
.info .title li:last-child{
    border: 0;
}
.info .left{
    width: 40%;
    height: 315px;
    float: left;
    padding: 10px 20px;
}
.info .left .swipslider .sw-slide a{
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
}
.info .left .swipslider .sw-slide a img{
    width: 100%;
    height: 100%;
}
.info .left .swipslider .sw-slide a p{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: black;
    color: white;
    font-size: 16px;
    opacity: .8;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info .right{
    width: 60%;
    float: left;
    padding: 10px;
}
.info .right .label{
    /*margin: 0 5px;*/
    /*background-color: #1b6c93;*/
    padding: 10px 0;
    overflow: hidden;
    /*border-radius: 10px;*/
    border-bottom: 1px solid #dddddd;

}
.info .right .label li{
    color: #666666;
    float: left;
    width: 14%;
    text-align: center;
    cursor: pointer;
    border-right: 2px solid #666666;
    font-size: 18px;
    font-weight: 400;
}
.info .right .label li:last-child{
    border: 0;
}
.info .right .label li.active{
    font-weight: 700;
    color: black;
}
.info .right .info_content{
    padding: 10px 10px;
    display: none;
    position: relative;
    overflow: hidden;
}
.info .right .info_content.active{
    display: block;
}
.info .right .info_content img{
    width: 300px;
    height: 200px;
    float: left;
}
.info .right .info_content ul{
    /*position: absolute;*/
    /*margin-left: 310px;*/
    padding: 0 10px;
    left: 0;
    right: 0;
    overflow: hidden;
}
.info .right .info_content ul li{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #666666;
    font-size: 14px;
    line-height: 35px;
}
.info .right .info_content ul li:hover a{
    color: #e86d1c;
}

.news{
    margin-top: 30px;
    position: relative;
    background-color: white;
    opacity: .8;
    padding: 15px;
    overflow: hidden;
}
.news .block{
    width: 33%;
    float: left;
    overflow: hidden;
}
.news .block.block1{
    padding-right: 15px;
}
.news .block.block2{
    padding: 0 15px;
}
.news .block.block3{
    padding-left: 15px;
}
.news .block .title{
    height: 40px;
    line-height: 40px;
    border-bottom: 2px solid #1c6c93;
}
.news .block .title h1{
    font-size: 20px;
    color: #1c6c93;
    font-weight: 400;
    display: inline-block;
}
.news .block .title a{
    font-size: 14px;
    color: #999999;
    float: right;
    margin-right: 5px;
}
.news .block .title a:after{
    display: inline-block;
    width: 7px;
    height: 7px;
    border-top: 2px solid #999999;
    border-right: 2px solid #999999;
    transform: rotate(45deg);
    content: '';
    margin-bottom: 1px;
}
.news .block1 .swipslider .sw-slide a{
    display: block;
    overflow: hidden;
}
.news .block1 .swipslider .sw-slide a div{
    margin: 20px 0;
    height: 20px;
    line-height: 20px;
    padding-left: 10px;
    border-left: 2px solid #999999;
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.news .block1 .swipslider .sw-slide a img{
    width: 100%;
    height: 240px;
}

.news .block2 .best{
    margin-top: 25px;
    height: 130px;
    position: relative;
    overflow: hidden;
}
.news .block2 .best .left{
    width: 60px;
    height: 125px;
    line-height: 128px;
    font-size: 14px;
    padding-left: 20px;
    border-right: 1px solid #999999;
    position: absolute;
    background: url(../img/new.png) no-repeat left center;
    background-size: 20px;
}
.news .block2 .best .hot{
    background: url(../img/hot.png) no-repeat left center;
}
.news .block2 .best ul{
    padding-left: 70px;
}
.news .block2 .best ul a{
    height: 35px;
    line-height: 25px;
    /*color: #999999;*/
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
}
.news .block2 .best ul a:hover{
    color: #e86d1c;
}
.news .block3 .article{
    margin-top: 20px;
    height: 80px;
    display: block;
    overflow: hidden;
}
.news .block3 .article h3{
    padding-left: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    color: #1c6c93;
    position: relative;
}
.news .block3 .article h3:before{
    height: 0;
    width: 0;
    border-top: 5px solid transparent;
    border-left: 5px solid #1c6c93;
    border-bottom: 5px solid transparent;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    content: "";
}
.news .block3 .article p{
    font-size: 12px;
    line-height: 20px;
    padding-left: 20px;
    color: #b5b6b6;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.cooperator{
    /*margin-top: 30px;*/
    background-color: white;
    overflow: hidden;
    padding: 20px 0;
}
.cooperator li{
    width: 33%;
    float: left;
    text-align: center;
}
.cooperator li a{
    display: inline-block;
    font-size: 14px;
}
.cooperator li:nth-child(1) a{
    padding-left: 25px;
    background: url(../img/logo_guide.png) no-repeat left center;
}
.cooperator li:nth-child(2) a{
    padding-left: 80px;
    background: url(../img/logo_hold.png) no-repeat left center;
}
.cooperator li:nth-child(3) a{
    padding-left: 25px;
    background: url(../img/logo_contract.png) no-repeat left center;
}

.footer{
    margin-top: 30px;
    border-top: 1px solid #cccccc;
    height: 130px;
    /*background: url(../img/footerBG.jpg) no-repeat;*/
    /*background-size: 100% 100%;*/
    font-size: 14px;

}
.footer .jump{
    color: #333333;
    text-align: center;
    margin-top: 40px;
}
.footer .jump a{
    display: inline-block;
    padding: 0 5px;
}
.footer .copyright{
    color: #6d6d6d;
    text-align: center;
    margin-top: 10px;
}

/*企业员工信息滑动*/
.index-icon {
    /*-webkit-animation: pulse 18s ease infinite alternate, nudge 20s linear infinite alternate;*/
    /*animation: pulse 18s ease infinite alternate, nudge 20s linear infinite alternate;*/
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 100px;
    right: 20px;
    border-radius: 50%;
    background: orangered;
    text-align: center;
    border: 1px solid #fff;
    cursor: pointer;
    opacity: 1;
    z-index: 10000!important;
}
.index-icon i {
    font-size: 30px;
    color: #fff;
    line-height: 60px;
}
.index-icon:hover{
    opacity:0.8;
    -webkit-animation-play-state: paused;
    /*transform:scale(0.9)*/
}
@-webkit-keyframes pulse {
    0%, 100% {
        background-color: red;
    }
    50% {
        background-color: orange;
    }
}

@keyframes pulse {
    0%, 100% {
        background-color: red;
    }
    50% {
        background-color: orange;
    }
}
@-webkit-keyframes nudge {
    0%{
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    50% {
        -webkit-transform: translate(-1150px, 0);
        transform: translate(-1150px, 0);
    }

}
@keyframes nudge {
    0%, 100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);

    }
    50% {
        -webkit-transform: translate(-1150px, 0);
        transform: translate(-1150px, 0);
    }

}