#view{
    padding: 10px;
}

#view>div{
    padding: 20px 0;
    border-bottom: 1px dashed #eeeeee;
    font-size: 14px;
    position: relative;
}
#view>div h1{
    font-size: 26px;
}
.head h1{
    display: flex;
    align-items: center;
}
.head h1 span{
    font-size: 12px;
    color: white;
    padding: 3px 10px;
    margin-left: 10px;
}
.head>div{
    margin-top: 10px;
}
.head .icon img{
    margin-right: 5px;
}
.head .address span{
    padding-left: 15px;
    background: url("/statics/img/maintain/map.png") no-repeat left center;
    /*background-size: 12px auto;*/
}
.head .address a{
    margin-left: 10px;
    padding-left: 15px;
    background: url("/statics/img/maintain/导航.png") no-repeat left center;
    /*background-size: 12px auto;*/
    color: #4ba6f5;
}
.head .tel{
    padding-left: 15px;
    background: url("/statics/img/maintain/phone.png") no-repeat left center;
}
.head .tel span{
    margin-right: 10px;
}
.head .button a{
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
    background-color: #4ba6f5;
    color: white;
    border-radius: 5px;
    margin-right: 10px;
    display: inline-block;
}
.head .right{
    width: 150px;
    height: 100px;
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    margin: auto 0;
    text-align: center;
    padding-top: 10px;
}
.head .right .point{
    color: #4ba6f5;
    font-weight: 800;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 30px;
    margin-bottom: 5px;
}
.head .right .point span{
    font-size: 50px;
    line-height: 50px;
    margin-right: 5px;
}
.head .right .avg{
    margin-bottom: 5px;
}
.head .right .star img{
    width: 20px;
    /*margin: 0 2px;*/
}

.info .block{
    margin-top: 10px;
    overflow: hidden;
}
.info .block p{
    padding-left: 15px;
    margin-right: 15px;
    display: inline-block;
}
.info .block p span{
    color: #ff8327;
}
.info .block .p1{
    background: url("/statics/img/maintain/store.png")  no-repeat left center;
}
.info .block .p2{
    background: url("/statics/img/maintain/discount.png")  no-repeat left center;
}
.info .block .p3{
    background: url("/statics/img/maintain/star.png")  no-repeat left center;
}
.info .block label{
    width: 100px;
    font-weight: 800;
    float: left;
    display: block;
}
.info .block ul{
    float: left;
}
.info .block ul li{
    margin-bottom: 5px;
}

.appraise .tag{
    margin-top: 20px;
}
.appraise .tag ul{
    display: inline-block;
}
.appraise .tag ul li{
    display: inline-block;
    height: 25px;
    line-height: 25px;
    padding: 0 5px;
    margin-right: 10px;
    border: 1px solid #dedede ;
}
.appraise .tag span{
    float: right;
}
.appraise .stars{
    margin-top: 20px;
}
.appraise .stars span{
    margin-right: 20px;
    white-space: nowrap;
    display: inline-block;
    margin-bottom: 5px;
}
.appraise .stars span i{
    white-space: nowrap;
    margin: 0 10px;
}
.appraise .stars span i img{
    width: 15px;
    margin-bottom: 4px;
    margin-right: 2px;
}
.appraise .stars span em{
    color: #4ba6f5;
}
.appraise #list{
    margin-top: 20px;
}
.appraise #list li{
    overflow: hidden;
    position: relative;
    margin-bottom: 15px;
}
.appraise #list li .left{
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background-color: #eeeeee;
    overflow: hidden;
}
.appraise #list li .left img{
    width: 100%;
    height: 100%;
}
.appraise #list li .right{
    padding-left: 50px;
}
.appraise #list li .right .black span{
    margin-right: 20px;
}
.appraise #list li .right .gray{
    margin-top: 5px;
    color: #a6a6a6;
}
.appraise #list li .right .gray span{
    margin-right: 15px;
}

#view .layui-laypage>a,#view .layui-laypage .layui-laypage-curr{
    border-radius: 5px;
    margin-right: 5px;
    overflow: hidden;
}
#view .layui-laypage .layui-laypage-curr .layui-laypage-em{
    background-color: #4ba6f5;
}