html, body {
    min-width: 100%;
}

.supervision{
    width: 100%;
    margin: 0;
}

.examine{
    width: 100%;
}
.detailtable{
    width: 100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}
.detailtable::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, 0);
    border-left: 1px solid rgba(0, 0, 0, 0);
}
.detailtable::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.detailtable::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    min-height: 28px;
}
.detailtable::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.zhengwu_c li{
    height: auto;
    overflow: hidden;
}
.zhengwu_c li a{
    white-space: normal;
}

.jianjie_b{
    padding: 10px;
}

