<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!--
		测试模式和生产模式使用该配置文件，测试和生产模式应该使用jndi配置文件。此文件废弃
		属性在application。properties中定义，使用pyxis访问
		切换编译模式  在mvn中使用参数  -P dev   或  -P test
		切换默认编译模式，修改总project中的pom文件profile部分。
	 -->
	<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="${jndi.dataSource}" />
	</bean>
</beans>

