
.star, .star .star_in {
    background: url(../images/icon_v2.png) repeat-x;
    -webkit-background-size: 180px 180px;
    -moz-background-size: 180px 180px;
    background-size: 180px 180px;
}
.star {
    background-position: 0 -146px;
    width: 99px;
    height: 16px;
    float: left;
    margin: 0 5px 0 0;
}
.star .star_in {
    background-position: 0 -126px;
    height: 16px;
    display: block;
}



