body{
  overflow: auto!important;
}
li{
  list-style: none;
}

.common-layout,.layout-root{
  min-width: 800px;
}
.ivu-menu-vertical.ivu-menu-light:after{
  background: none;
}

.common-form {
  .ivu-form-item{
    display: inline-block;
    vertical-align: top;
    width: 250px;
    margin: 0 20px 20px 0;
    position: relative;
    .ivu-form-item-label{
      float: none;
      padding: 0 15px 0 0;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    .ivu-form-item-content{
      .ivu-input-number{
        width: 100%;
      }
      .ivu-form-item-error-tip{
        padding: 0;
      }
    }
  }
}

.table-modal-detail{
  max-height: 100%;
  .ivu-modal-mask{
    //position: absolute;
  }
  .ivu-modal-wrap{
    //position: absolute;
    height: 100%;
    .ivu-modal{
      height: 90%;
      overflow: hidden;
      top: 50%;
      transform: translateY(-50%);
      .ivu-modal-content{
        overflow: hidden;
        height: 100%;
        .ivu-modal-close{
          z-index: 6;
        }
        .ivu-modal-header{
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          background-color: white;
          z-index: 5;
        }
        .ivu-modal-body{
          height: calc(100% - 110px);
          overflow: auto;
          margin-top: 50px;
          margin-bottom: 60px;
          //padding-top: 0;
          padding-bottom: 0;
          position: relative;
        }
        // .ivu-modal-body:after {
        //   content: "";
        //   height: 60px;
        //   display: block;
        // }
        .ivu-modal-footer{
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          background-color: white;
          z-index: 5;
        }
      }
    }
  }
}
.single-page{
  width: 100%;
  height: 100%;
  background-color: #f5f7f9;
  overflow: hidden;
  padding: 0 10px;
  .center{
    min-height: 70vh;
    background-color: white;
    /*padding: 0 10px;*/
    width: 100%;
    max-width: 1000px;
    min-width: 800px;
    margin: 10px auto;
    overflow: hidden;
    position: relative;
    .sub-title{
      line-height: 38px;
      padding: 0 10px;
      background-color: white;
      border-bottom: 2px solid #4ba7f5;
    }
  }
}
