<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="sessionRequestContextFactory"
          class="com.huifu.saturn.web.common.session.request.SessionRequestContextFactory"
          init-method="init" lazy-init="false">
        <property name="cookieDomainName" value="${cookie_domain}" />
        <property name="cpcacheAddr" value="${cpcache_addr}" />
        <property name="slaveCacheAddr" value="${slave_cpcache_addr}" />
        <property name="sessionCookiePath" value="/" />
        <property name="exp" value="${session_expire_time}" />
        <property name="sessionCokieName" value="${session.cookieName:CHINAPNRJSESSIONID}" />
    </bean>
    <bean id="configCenterTag" class="com.huifu.saturn.webapp.util.ConfigCenterTag">
    </bean>

    <bean id="logonTag" class="com.huifu.saturn.webapp.util.LogonTag">
    </bean>

</beans>
