* {
	padding: 0px;
	margin: 0px;
	font-size: 9pt;
}

div,ul,li,dl,dt,dd,img,h1,h2 {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	border: 0;
}

body a {
	outline: none;
	blr: expression(this.onFocus = this.blur () );
}

.attach a{
	color: #2e6589;
	text-decoration: none;
	outline:none;
	cursor: hand;
	cursor: pointer;
}
.attach a:hover{
	color: #4a88df;
	text-decoration: underline;
}


