

/*end ui*/
#login{
	width: 100%;
	height: 100%;
	/* background: url(../images/login-bg-20160908.jpg) no-repeat scroll center center transparent; */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
}

.header{
	width: 120px;;
	height: 50px;
	position: absolute;
	top:40px;
	z-index: 99;
}
.header-wrap{
	width: 1280px;
	margin:0 auto;
}
.header-index{
	position: absolute;
	top: 10px;
	right: 40px;
	font-size: 16px;
	color: #CCCCCC;
}
.header-index:hover{
	color: #FFFFFF;
}
.header-index em{
	display: inline-block;
	vertical-align: text-bottom;
	width: 20px;
	height: 20px;
	margin-right: 5px;
	background: url(../images/login-icon.png) -120px 0 no-repeat;
}
.header-index:hover em{
	background-position: -120px -20px;
}
.header-logo{
	position: absolute;
	left: 40px;
	width:120px;
	height: 40px;
	overflow: hidden;
}
.header-logo a{
	display: block;
	width: 120px;
	height: 0;
	padding-top: 40px;
	overflow: hidden;
	background: url(../images/logoTop.png) center center no-repeat;
}
.login_container{
	position: relative;
	height: 100%;
	/* width: 1280px; */
	width:100%;
	margin: 0 auto;
}

.link-con{
	position: fixed;
	width: 50%;
	height: 100%;
	top:0;
	right:50%;
	bottom: 0;
	left:0;
}
.link-con a{
	display: block;
	height: 100%;
}
.form-con{
	position: absolute;
	width:50%;
	height: 100%;
	top:0;
	right:0;
	bottom: 0;
	left:50%;
}

.my-form{
	position: absolute;
	width:360px;
	right: 50%;
	margin-right:-180px;
	top: 50%;
	margin-top: -170px;
	padding:20px 10px;
	background: url(../images/black-30.png) repeat;
	vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
 	    -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
}
.my-form:before {
    content: '';
    position: absolute;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    z-index: -1;
    background: rgba(8, 139, 221, 0.46);
    border-radius: 4px;
}
.my-form .warn{
	position: absolute;
	top: 40px;
	height: 14px;
	line-height: 14px;
	font-size: 14px;
	color: #f5f5f5;
}
.my-form .warn label{
	display: block;
	line-height: 20px;
	visibility: hidden;
}
.my-form .warn label:first-child{
	display: block;
	visibility: visible;
}
.my-form .o-form{
	font-size: 14px;
	color: #CCCCCC;
}
.my-form .o-form a.forget-pwd{
	float: right;
	color: #CCCCCC;
}
.my-form .down-con{
	position: absolute;
	bottom:40px;
	right:30px;
	left:30px;
}
#register .my-form .down-con .down-a{
	position: absolute;
	right:0;
}
.my-form .down-con a{
	display: inline-block;
	font-size: 16px;
	color: #CCCCCC;
}
.my-form .down-con a em{
	margin-right: 5px;
}
.my-form .down-con a.register-a{
	float: right;
}
.my-form .down-con a:hover{
	color: #FFFFFF;
}

.auth-image{
	position: absolute;
    right: 1px;
    top: 1px;
    height: 40px;
}


/*register*/
#register{
	width: 100%;
	height: 100%;
	/* background: url(../images/register-bg-20160908.jpg) no-repeat scroll center center transparent; */
    background-size: cover;

}

#registerLink{
	
}
.my-form .o-form .agree-rule a{
	color: #CCCCCC;
	text-decoration: underline;
}
.my-form .o-form a:hover{
	color: #FFFFFF;
}
.my-form .control-form{
	position: relative;
}
.get-verify-btn{
	position: absolute;
	top: 1px;
	right: 1px;
	width: 100px;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	border:0;
	border-left: 1px solid #edf0f1;
	text-align: center;
	color: #f2a142;
	background: #FFFFFF;
	cursor: pointer;
}
.get-verify-btn[disabled]{
	cursor:not-allowed;
}
.get-verify-btn:hover{
	background: #FAFAFA;
}
.set-pwd-vis{
	position: absolute;
	right: 10px;
	top: 11px;
	opacity: 0.7;
}
.set-pwd-vis:hover{
	opacity: 1;
}

.r3{
	width:900px;
	margin:0 auto;
	-webkit-animation: lightSpeedInUp 1.5s 1 ease-in-out;animation: lightSpeedInUp 1.5s 1 ease-in-out;-moz-animation: lightSpeedInUp 1.5s 1 ease-in-out;
}
.r3-head{
	height:95px;
	border-bottom:1px solid #cccccc;
	padding-top:30px;
}
.r3-logo{
	width:110px;
	height:33px;
	overflow:hidden;
	background:url(../images/logo-min.png) no-repeat;
}
.r3-content{
	padding:55px 10px;
	overflow:hidden;
}
.r3-l{
	float:left;
	/* width:660px; */
	width:600px;
}
.r3-r{
	float:right;
	width:220px;
}
.register-success{
	color:#39a703;
	font-size:26px;
}
.register-success em{
	background:url(../images/register-success.png) no-repeat;
	width:34px;
	height:34px;
	display:block;
	float:left;
	margin-right:8px;
}

.register-success-info{
	color:#666;
	font-size:14px;
	margin-top:20px;
	background-color: #f3f3f3;
	padding: 20px;
}

/*.ui-btn {
    display: inline-block;
    line-height: 32px;
    width: auto;
    margin-bottom: 0;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    background-image: none;
    border-radius: 2px;
    border: 0;
    padding: 0 5px;

}*/
.registerToUse{
	/* margin-top:50px; */
	margin-top:35px;
}
.registerToUseBtn,.registerToTryBtn,.registerToDDBtn{
	color:#FFFFFF;
	text-decoration:none;
	line-height:40px;
	width:130px;
	height:40px;
	margin-right:10px;
	font-size: 14px;
}
.registerToUseBtn{
	background:#f2756a;
}
.registerToTryBtn{
	background:#03b8cc;
}
.registerToDDBtn{
	background:#2294e5;
}
.bqr{
	width:220px;
	height:220px;
	background:url(../images/bqr.png) no-repeat;
}
.bqr-info{
	color:#bbbbbb;
	font-size:14px;
	margin-top:10px;
	text-align:center;
}

.trial-box .topic1{
	text-align: center;
	font-size: 18px;
	color: #555;
	line-height: 34px;
	padding-top: 50px;
}
.trial-box .topic2 {
	width: 350px;
	margin: 0 auto;
	overflow: hidden;
	margin-top: 40px;
	font-size: 16px;
}
.trial-box .topic3 {
	color: #999;
	font-size: 14px;
	text-align: center;
	margin-top: 40px;
}
.corp-btn,.agent-btn{
	width:160px;
	height:46px;
	color:#FFFFFF;
	text-decoration:none;
	line-height:46px;
	background-color:#03b8cc;
	float:left;
}
.agent-btn{
	margin-left:10px;
}
.login-form .x-btn-default-medium {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    padding: 3px 3px 3px 3px;
    border-width: 1px;
    border-style: solid;
    background-color: #0db5e2;
    background-image: none !important;
}
.login-form .x-btn-default-medium-over {
    background-color: #0dbfe3;
    background-image: none !important;
}
.login-form .x-form-cb-label-after{
	color: #0cc0e3;
}
.link-forgot-password{
	color: #0cc0e3;
}
.login-form .x-trigger-cell{
	width: 40px !important;
}
.login-form .x-form-trigger{
	color: #0ec2e3 !important;
	font-size:28px;
	width: 40px;
	margin:0px 8px;
	background: none;
}
.bt-blue {
    font-size: 14px;
    line-height: 30px;
    background: #0db5e2;
    font-weight: bold;
    color: #FFF;
    cursor: pointer;
    text-align:center;
    width:100%;
    border-radius: 3px;
    text-decoration: none;
    margin-right: 12px;
}
.bt-blue:hover {
    background: #0dbfe3;
    text-decoration: none;
    word-wrap: break-word;
}


/***********************topMenu**********************************************************/

.header_manage {
	border-bottom: 0px solid #dbdee1;
	height: 60px;
	background-color: #e2eff8;
	font-family: 宋体;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.header_wrap_manage {
	padding: 0 0 0 10px;
	max-width: 1404px;
	word-wrap: none
}

.bindNumber-btns {
	font-size: 14px
}

.header_manage .h2-spec,.header_manage h2 {
	font-family: 'Microsoft Yahei', Tahoma, Arial;
	font-size: 28px;
	float: left;
	color: #157fcc;
	font-weight: bold;
	font-family: 宋体;
	line-height: 60px
}

.header_manage h2 {
	color: #555;
	display: inline-block;
	font-weight: 400
}

.header_manage .h2-spec {
	margin-left: 7px
}

.header_manage .options {
	float: right
}

.header_manage .options>li {
	float: left;
	height: 60px;
	padding: 0 16px 0 44px;
	line-height: 64px;
	position: relative;
	cursor: pointer;
	color: #787878
}

.header_manage .options>li:hover {
	background-color: #e8e8e8
}

.header_manage .options>li.try-new {
	padding: 0 16px;
	cursor: default
}

.header_manage .options>li.try-new a {
	display: block;
	width: 100px;
	height: 0;
	margin-top: 18px;
	padding-top: 24px;
	overflow: hidden;
	opacity: .9;
	background: url(../images/try-new.png) no-repeat
}

.header_manage .options>li.try-new a:hover {
	opacity: 1
}

.header_manage .options>li.try-new:hover {
	background-color: inherit
}

.header_manage .options a:hover {
	text-decoration: none;
	color: inherit
}

.header_manage .options .infoNum {
	height: 15px;
	display: block;
	background-color: #fa552b;
	color: #fff;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	position: absolute;
	top: 13px;
	left: 25px;
	line-height: 15px;
	text-align: center;
	padding: 0 3px;
	min-width: 13px
}

.header_manage .options .hide {
	display: none
}

.header_manage .options li i {
	width: 19px;
	height: 18px;
	display: block;
	position: absolute;
	top: 20px;
	left: 16px
}

.header_manage .options .app-center i {
	background: url(../images/headerv2.1.png) -101px -101px no-repeat;
	top: 22px
}

.header_manage .options .info i {
	background: url(../images/headerv2.1.png) -1px -101px no-repeat;
	top: 22px
}

.header_manage .options .cart i {
	background: url(../images/headerv2.1.png) -81px -101px no-repeat;
	top: 21px
}

.header_manage .options .user i {
	background: url(../images/headerv2.1.png) -21px -101px no-repeat;
	top: 21px
}

.header_manage .options .user .bindMobile,.header_manage .options .user .renewal
	{
	position: absolute;
	left: 25px;
	top: 40px
}

.header_manage .options .setting i {
	background: url(../images/headerv2.1.png) -41px -101px no-repeat;
	top: 22px
}

.header_manage .options .headerService i {
	background: url(../images/headerv2.1.png) -61px -101px no-repeat;
	top: 21px
}

.header_manage .options>li:hover .container {
	display: block
}

.header_manage .options .container {
	width: 120px;
	position: absolute;
	top: 60px;
	z-index: 999;
	font-family: "å®‹ä½“";
	font-size: 12px;
	background-color: #fff;
	box-shadow: 1px 1px 10px #adadad;
	-moz-box-shadow: 1px 1px 10px #adadad;
	-webkit-box-shadow: 1px 1px 10px #adadad;
	display: none
}

.header_manage .options .info .container,.header_manage .options .setting .container,.header_manage .options .user .container
	{
	left: 0
}

.header_manage .options .headerService .container {
	right: 0
}

.header_manage .options .headerService .container .tel {
	cursor: default;
    height: 114px;
    line-height: 25px;
    padding: 5px 0px;
    background-color: #00a7e4;
    color: #fff;
    text-align: center;
}

.header_manage .options .container li {
	height: 37px;
	line-height: 37px;
	padding-left: 20px;
	color: #555
}

.header_manage .options a {
	display: inline-block;
	text-decoration: none;
    cursor: pointer;
}

.header_manage .options .info .container a {
	color: #555;
	text-decoration: none
}

.header_manage .menu2 {
	position: relative
}

.header_manage .options .container a .busnessMessageNum,.header_manage .options .container a .systemMessageNum,.header_manage .options .container a .updateMessageNum
	{
	position: absolute;
	left: 50px;
	top: 0
}

.header_manage .options .container a .ui-new-func {
	right: -10px;
	top: 5px
}

.header_manage .options .container li:hover {
	background-color: #e8e8e8
}

.header_manage .options .new-con-p .ui-new-func {
	top: 18px;
	right: -5px
}

.header_manage .options .cart .new-con-p,.header_manage .options .user .new-con-p
	{
	position: absolute;
	right: 10px;
	top: 0
}

.header_manage .options .user .userName {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	min-width: 24px;
	max-width: 230px;
	color: #157fcc;
	display: inline-block
}

.header_manage .options .info .container {
	width: 125px
}

.header_manage .options .info a {
	float: left;
	font-size: 12px;
	height: 37px
}

.header_manage .options .info a em {
	font-style: normal
}

.header_manage .options .info .system-notice a:nth-child(1) {
	width: 256px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden
}

.header_manage .options .info .system-notice a:nth-child(2) {
	width: 40px;
	color: #999;
	float: right
}

.header_manage .options .setting .container,.header_manage .options .user .container
	{
	width: 131px
}

.header_wrap_manage .options .entry {
	margin: 20px 18px 20px 5px;
	border-radius: 2px;
	background-color: #f9633e !important;
	padding: 0 7px;
	height: 20px;
	line-height: 20px;
	cursor: default
}

.print-table-wrap tbody td,.print-table-wrap th {
	border: 1px solid #5c5c5c;
	table-layout: fixed;
	vertical-align: middle
}

.header_wrap_manage .options .entry a {
	color: #fff
}
.new-con, .new-con-p {
    position: relative;
    display: inline-block;
    color: #555;
}
.header_manage .options .info a em {
    font-style: normal;
}
.red, a.red:hover {
    color: red!important;
}

.x-tab-bar-default {
    background-color: #e2eff8;
}
.x-tab-bar-body-default-top {
    padding-bottom: 0px;
}
.x-panel-header-default-horizontal {
    padding: 5px;
}
